
.container{
  display: flex;
  gap: 5px;
  width: 100%;
  /* height: 100vh; */
}
.containerLateral{
  max-width: 312.25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px ;
  max-height: 1001px;
  height: 100%;
}
.containerTop{
 width: 100%;
 display: flex;
 flex-direction: column;
}



  