
:root {
  --accent-color: #38a900;
  --white-text: #FFFFFF;
  --blue-dark: #00324D;
  --green-clear: #dcffca;
}

.container{
  display: flex;
  gap: 5px;
  width: 100%;
  /* height: 100vh; */
}
.containerLateral{
  max-width: 312.25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px ;
  max-height: 1001px;
  height: 100%;
}
.containerTop{
 width: 100%;
 display: flex;
 flex-direction: column;
}



  