

.NavLateral{
    height: 850px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 75px;
    position: fixed;
    width: 310px;
    top: 195px;
    z-index: 3;
    border-radius: 0 5px 0 0;


    & .list-container{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: 20px; */

        & .list-ul{
            padding: 20px;
            width: 100%;

            & .list-li{
                /* border: 1px solid red; */
                border-bottom: 2px solid var(--white-text);
                height: 20px;
                width: 100%;
                padding: 20px 30px 40px 0;

                & .list-a{
                    /* letter-spacing: 5px; */
                    color: var(--white-text);
                    padding-left: 20px;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    & i{
                        font-size: 25px;
                    }

                    & .list-span{
                        font-size: 15px;
                        padding-left: 20px;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }

                }
            }
        }
    }

    & .info-container{
        /* border: 1px solid red; */
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--white-text);
        font-size: 9px;
        margin-top: 20px;
        line-height: 15px;
        font-weight: lighter;
        margin: 20px;
        border-bottom: 2px solid var(--white-text);
        gap: 20px;
        
        & .info-links{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
