
.navSuperior{
    height: 100px;
    width: 100%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    position: sticky;   
    top: 0%;
    z-index: 3;
    border-radius: 0 0 0 5px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    & .navSuperior-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;

        .container_img{
            height: 100%;
            
            & .container-img{
                height: 100%;
            }
        }

        & .container-star{
            /* border: 1px solid red; */
            display: flex;
            margin-right: 80px;
            height: 100%;
            width: 100px;
            color: var(--white-text);
            font-size: 40px;
            gap: 50px;
            z-index: 100;
        }

    }


}