:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --accent-color: #2ecc71;
}

  
  .grid-container {
    display: grid;
    grid-template-columns: 25% auto; /* 25% para el bloque 1, el resto para el bloque 2 */
    grid-gap: 1px; /* Espacio entre los bloques */
    height: 100vh; /* Tamaño de pantalla completo */
  }
  
  
  

  