
:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --accent-color: #38a900;
  --white-text: #FFFFFF;
}

.container{
  display: flex;
  gap: 5px;
  width: 100%;
  /* height: 100vh; */
}
.containerLateral{
  width: 324.25px;
  display: flex;
  flex-direction: column;
  gap: 5px  ;
}
.containerTop{
 width: 100%;
}



  