:root {
    --accent-color: #38a900;
    --white-text: #FFFFFF;
    --blue-dark: #00324D;
    --green-clear: #dcffca;
  }

.targets{
    padding-top: 90px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 95%;
    z-index: 1;
}